{% extends "base.jinja2" %}
{% block title -%}
<h1>
  {{ name }}
</h1>
{% endblock -%}

{% block description -%}
<p>
  {{ description }}
</p>
{% endblock -%}

{% block table -%}
<table style="width:100%">
  <tr>
    <th>Parameter</th>
    <th>Description</th>
    <th>Default</th>
  </tr>
  {% for (param, comment, default) in values -%}
  <tr>
    <td><code>{{ param }}</code></td>
    <td>{{ comment }}</td>
    <td><code>{{ default }}</code></td>
  </tr>
  {% endfor -%}
</table>
{% endblock -%}
